.titrePage{
    color: green;
    padding-top:5%;
    text-align: center;
}

.messageConnexion{
    text-align: center;
}

.partenaire{
    background-color: lightgrey; 
    padding-top:1%; 
    padding-bottom:1%;
}

.contact{
    background-color: white;
    padding-top:10%;
    padding-bottom:5%;
    text-align: center;
}